.branche-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 300px;
}
.branche-lupetti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 100px 0 0 ;
}
.branche-esploratori{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 100px 0 0 ;
}
.calendar{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}