.footer-contatti {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 90px;
}
@media only screen and (max-width: 1200px) {
  .footer-contatti {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1200px) {
  .iframe {
    width: 200px;
  }
}
